.container {
  background-color: #272727;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  padding: 5px 10px;
}

.titleContainer {
  width: 25%;
}

.title {
  margin-left: 5%;
}

.searchContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.searchBar {
  width: 60%;
  height: 100%;
}

.search {
  width: 100%;
  background-color: #474747;
  color: white;
  border: none;
  border-radius: 5px;
  height: 100%;
  padding: 10px;
}

.menuContainer {
  width: 25%;
  display: flex;
  align-items: right;
  justify-content: right;
}

.menu {
  margin-right: 10%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn {
  background-color: #ce93d8;
  border: none;
  height: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #b236c8;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 10px;
  }

  .titleContainer,
  .regionTitle {
    display: none;
  }

  .searchContainer {
    width: 70%;
  }

  .menuContainer {
    width: 30%;
    height: 100%;
  }

  .searchBar {
    width: 100%;
  }
}
