.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleContainer {
  width: 25%;
}

.title {
  margin-left: 10%;
}

.searchContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  width: 60%;
}

.menuContainer {
  width: 25%;
  display: flex;
  align-items: right;
  justify-content: right;
}

.menu {
  margin-right: 10%;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container {
    gap: 10px;
  }

  .titleContainer,
  .regionTitle {
    display: none;
  }

  .searchContainer {
    width: 70%;
  }

  .menuContainer {
    width: 30%;
    height: 100%;
  }

  .searchBar {
    width: 100%;
  }
}
