.infoLocation {
  padding-bottom: 5%;
  color: white;
  font-family: sans-serif;
  text-align: center;
  font-size: 0.8rem;
  margin-left: 10px;
}

@media (max-width: 1000px) {
  .infoLocation {
    font-size: 0.6rem;
  }
}
